{% extends 'base.html' %}

{% block content %}

<h1>Accessory Details</h1>


<div class="card">
    <a href="{% url 'accessories_detail' accessory.id %}">
        <div class="card-content">
            <span class="card-title"> &#8226  <span class="{{ accessory.name }}-text">  {{ accessory.name }} by {{ accessory.brand }}</span> </span>
        </div>
        <div class="card-action">
            <a href="{% url 'accessories_update' accessory.id %}">Edit</a>
            <a href="{% url 'accessories_delete' accessory.id %}">Delete</a>
        </div>
    </a>
</div>

{% endblock %}