{% extends 'base.html' %}

{% block content %}

<h1>Motorcycle Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ motorcycle.model }}</span>
                <p>Brand: {{ motorcycle.brand }}</p>
                <p>Description: {{ motorcycle.description }}</p>
                <p>Year: {{ motorcycle.year }}</p>
               
            </div>
            <div class="card-action">
                <a href="{% url 'motorcycles_update' motorcycle.id %}">Edit</a>
                <a href="{% url 'motorcycles_delete' motorcycle.id %}">Delete</a>
            </div>
        </div>
        {% for photo in motorcycle.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}" />
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}

<form
  action="{% url 'add_photo' motorcycle.id %}"
  enctype="multipart/form-data"
  method="POST"
  class="card-panel"
>
  {% csrf_token %}
  <input type="file" name="photo-file" />
  <br /><br />
  <input type="submit" class="btn green" value="Upload Photo" />
</form>

    </div>
    <div class="col s6">
        <form action="{% url 'add_mile' motorcycle.id %}" method="POST">
            {% csrf_token %}

            {{ mile_form.as_p }}

            <input type="submit" value="Add Mile" class="btn blue">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time of Day</th>
                </tr>
            </thead>
            <tbody>
                {% for mile in motorcycle.mile_set.all %}
                    <tr>
                        <td>{{ mile.date }}</td>
                        <td>{{ mile.get_time_display }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row">
    <div class="col s6">
        <h3>{{ motorcycle.model }}'s Accessories</h3>
        {% if motorcycle.accessories.count %}
            {% for accessory in motorcycle.accessories.all %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A <span class="{{ accessory.color.lower }}-text">{{ accessory.color }}</span> {{ accessory.model }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>{{ motorcycle.model }} has no additional accessories at this time </h6>
        {% endif %}
    </div>

    <div class="col s6">
        <h3>Available Accessories</h3>
        {% if accessories.count %}
            {% for accessory in accessories %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">
                            A <span class="{{ accessory.brand }}-text">{{ accessory.model }}</span>
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_accessory' motorcycle.id accessory.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn green">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h6>{{ motorcycle.model }} already has all the available accessories</h6>
        {% endif %}
    </div>
</div>



{% endblock %}